/* Styles globaux */
body {
    font-family: Arial, sans-serif;
    background-color: beige;
    color: black;
    margin: 0;
    padding: 0;
}

/* En-tête */
header {
    background-color: #4B3621; /* Marron foncé */
    color: white;
    text-align: center;
    padding: 20px;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

/* Logo */
.logo {
    width: 100px; /* Ajustez la taille selon vos besoins */
}

/* Section des produits */
#products {
    display: flex;
    justify-content: space-around;
    margin: 20px;
}

.product {
    text-align: center;
}

.product img {
    width: 150px; /* Ajustez la taille selon vos besoins */
}

/* Pied de page */
footer {
    background-color: #4B3621; /* Marron foncé */
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

/* Styles pour le formulaire de contact */
form {
    max-width: 500px;
    margin: 20px auto;
    padding: 20px;
    background-color: #f4f4f4;
    border-radius: 8px;
}

input[type="text"], input[type="email"], textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

input[type="submit"] {
    background-color: #4B3621;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #614730;
}
